<div class="Timer">02:45</div>
<div
  style="
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
    padding-top: 0px;
  "
>
  <div class="container">
    <div class="containerDiv">
      <div class="sider2">
        <div
          class="my-name"
          style="width: 90%; padding: 0px; text-align: center"
        >
          <h2 style="text-align: left">Write Something Here !</h2>
          <input
            type="text"
            style="width: 90%; height: 100px; border: 2px solid grey"
          />
        </div>
      </div>
      <br />
      <div class="sider2">
        <div class="imageContainer">
          <img
            src="../../assets/Boring-machine.jpg"
            style="width: 100%; border-radius: 0px; border-radius: 20px"
            alt=""
          />
        </div>
      </div>
      <br />
      <div class="sider2">
        <div class="my-name" style="width: 90%; padding: 0px">
          <h2>
            Notifications
            <span
              class="material-icons"
              style="color: #ffaa0b; vertical-align: middle"
            >
              notifications
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-top: 3%">
    <!-- Task Area -->
    <div class="sider">
      <div class="my-name">
        <h2>Hello !</h2>
      </div>

      <div class="incomplete-task-up">
        <div class="incomplete-task">
          <p>You have 4 <span style="color: #ffbd44">Items</span> in List :)</p>
        </div>
      </div>

      <div class="uppertaskarea">
        <div class="taskarea">
          <div class="tasks">
            <img src="../../assets/list-Icon.png" alt="" />
            <p>ECAM-CTA-567</p>
            <div class="task-update-delete">
              <div class="delete">
                <a href="#">
                  <span class="material-icons">clear</span>
                </a>
              </div>
            </div>
          </div>

          <div class="tasks">
            <img src="../../assets/list-Icon.png" alt="" />
            <p>ECAM-CTA-987</p>
            <div class="task-update-delete">
              <div class="delete">
                <a href="#">
                  <span class="material-icons">clear</span>
                </a>
              </div>
            </div>
          </div>

          <div class="tasks completed">
            <img src="../../assets/list-Icon.png" alt="" />
            <p>ECAM-CTA-486</p>
            <div class="task-update-delete">
              <div class="delete">
                <a href="#">
                  <span class="material-icons">clear</span>
                </a>
              </div>
            </div>
          </div>

          <div class="tasks completed">
            <img src="../../assets/list-Icon.png" alt="" />
            <p>ECAM-CTA-645</p>
            <div class="task-update-delete">
              <div class="delete">
                <a href="#">
                  <span class="material-icons">clear</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
